export(abc, cv4abc, postpr)
importFrom(graphics, plot, points)
importFrom(nnet, nnet, multinom)

# abc methods
S3method(print, abc)
S3method(summary, abc) 
S3method(hist, abc)
S3method(plot, abc) 

# cv4abc methods
S3method(plot, cv4abc)
S3method(summary, cv4abc)

# postprob S3method
S3method(summary, postpr)
